<mat-toolbar class="mat-elevation-z6" color="primary">
  <a href="#" class="titleGroup">
      <span><mat-icon svgIcon="logo" class="logo">icon</mat-icon></span>
      <span><mat-icon svgIcon="title" class="title">recommend</mat-icon></span>
  </a>
  <!-- <h1 *ngIf="!isActiveNavbar" class="toolbar__title">{{routerName}}</h1> -->
  <span class="spacer"></span>
  <div class="button-row">
    <a mat-raised-button routerLink=".">ログイン</a>
    <a mat-raised-button routerLink=".">登録</a>
    <a mat-raised-button (click)="logout()"> ログアウト</a>
  </div>
  </mat-toolbar>
  <!-- <nav mat-tab-nav-bar>
      <!-- <a mat-tab-link
      *ngFor="let link of navLinks"
      [routerLink]="link.path"
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
     {{link.label}} -->
     <!--<a mat-tab-link href="#">Test1</a>
     <a mat-tab-link href="#">Test2</a>
     <a mat-tab-link href="#">Test3</a>
     <a mat-tab-link href="#">Test4</a>
  </nav> -->