<mat-toolbar class="mat-elevation-z6" color="primary">
  <a routerLink="/mypage" class="titleGroup">
      <span><mat-icon svgIcon="logo" class="logo">icon</mat-icon></span>
      <span><mat-icon svgIcon="title" class="title">recommend</mat-icon></span>
  </a>
  <span class="spacer"></span>
  <div class="button-row">
    <a mat-raised-button routerLink="/login" *ngIf="!appstate.isLogin">ログイン</a>
    <a mat-raised-button routerLink="/review" *ngIf="appstate.isLogin">レビュー</a>
    <a mat-raised-button routerLink="/register" *ngIf="!appstate.isLogin">登録</a>
    <a mat-raised-button routerLink="/homepage" (click)="logout()" *ngIf="appstate.isLogin"> ログアウト</a>
  </div>
  </mat-toolbar>