form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 100px auto;
}
mat-form-field{
  width: 500px;
  margin-bottom: 20px;
}
.sexform{
  margin-bottom: 20px;
}
.errorPassword{
  color: #e53935;
  font-size: 75%;
  margin-top: -15px;
}